.table{
    background-color: aqua;
}

.h1{
    background-color: wheat;
}

.c{
    background-color: black;
}

.c1{
    color: red;
}

.c2{
    color: white;
}

.c3{
    background-color: lightcyan;
}

.c4{
    background-color: royalblue;
}

.c5{
    background-color: sienna;
}
.c1{
    text-align: center;
}